@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #455559;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
}

.PagPrin{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navPrin{
    width: 100%;
}

.navbar{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #455559;
    padding: 0px 20px;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #28403D;
}

.nav-lista{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.nav-carro{
    position: relative;
    margin-right: 20px;
    color:#182625;
    cursor: pointer;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
    font-weight: 700;
}

.nav-carro::before,
.nav-carro::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #28403D;
    transition: width 0.5s ease;
}

.nav-carro::before{
    top: 0;
    left: 0;
}

.nav-carro::after{
    bottom: 0;
    right: 0;
}

.nav-carro:hover::before,
.nav-carro:hover::after{
    width: 100%;
}

.nav-categoria{
    position: relative;
}

.submenu{
    list-style: none;
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    background-color: #28403D;
    border-radius: 8px;
    padding: 0;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.nav-carro.active .submenu{
    max-height: 200px;
    opacity: 1;
    padding: 10px;
}

.submenu-modelo{
    color: #182625;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s;
}

.submenu-modelo:hover{
    background-color: #2f4b47;
    color: black;
}

.MostrarCarrosPrin{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.detalle_carro{
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.img_carro{
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 20px;
}

.img_carro_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.carro_titulo_container {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.carro_año {
    font-size: 2.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    text-align: center;
    color: #182625;
    font-weight: bold;
}

.año_division {
    display: inline-block;
    border-left: 2px solid #252f32;
    height: 3.5em;
    vertical-align: middle;
    margin-right: 10px;
}

.carro_titulo {
    font-size: 2.5em;
    font-family: 'Space Grotesk', sans-serif;
    color: #182625;
}
 
.container {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #455559;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
  }
  
  .detalle_carro {
    margin: 20px 0;
  }
  
  .carro_titulo_container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .carro_año {
    font-weight: bold;
    font-size: 30px;
  }
  
  .año_division {
    width: 1px;
    height: 40px;
    background: #333;
    margin: 0 10px;
  }
  
  .carro_titulo {
    font-size: 27px;
    font-weight: 700;
  }
  
  .img_carro_container {
    text-align: center;
  }
  
  .img_carro {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .detalle_carro_lista {
    list-style: none;
    padding: 0;
  }
  
  .carro_lista {
    display: flex;
    align-items: center;
    margin: 15px 0;
  }
  
  .list_img {
    width: 30px;
    margin-right: 10px;
  }

  .list_texto {
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  .progreso_barra {
    flex-grow: 1;
  }
  
  .datos_barra {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .skill-box {
    width: 100%;
    margin: 25px 0;
  }
  
  .skill-bar {
    height: 12px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: #2F3D40;
  }
  
  .skill-per {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 6px;
    background: #3D5A73;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 1;
  }

  .skill-per:hover .tooltip {
    visibility: visible;
  }
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .tooltip {
    position: absolute;
    font-family: 'Space Grotesk', sans-serif;
    right: -25px;
    top: -30px;
    font-size: 13px;
    font-weight: 500;
    color: #182625;
    padding: 4px 8px;
    border-radius: 3px;
    background: #3D5A73;
    z-index: 1;
  }
  
  .tooltip::before {
    content: '';
    position: absolute;
    font-family: 'Space Grotesk', sans-serif;
    left: 50%;
    bottom: -2px;
    height: 15px;
    width: 15px;
    z-index: -1;
    background-color: #3D5A73;
    transform: translateX(-50%) rotate(45deg);
  }
